<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer by Janne Pakaslahti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Genders</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-select-option *ngFor="let value of genders">{{value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-select [(ngModel)]="time_input">
        <ion-select-option *ngFor="let value of time">{{value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Bottles</ion-label>
      <ion-select [(ngModel)]="bottle_input">
        <ion-select-option *ngFor="let value of bottles">{{value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Promilles</ion-label>
      <ion-input name="promilles" value="{{promilles | number: '1.2-2'}}" readonly></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
  </div>
</ion-content>
